#slider img {
    vertical-align: bottom;
    border-radius: 2%;
    width: 25%;
    overflow: hidden;
}

#slider {
    position: relative;
    width: 100%;
}

#slider p {
    font-size: 1.25em;
}

#imageA,
#texteA,
#imageB,
#texteB {
    position: absolute;

}

.trans {
    transition: all .5s;
}

.swipeLeft {
    transform: translateX(-100%);

}

.swipeRight {
    transform: translateX(100%);

}

.swipeUp {
    transform: translateY(-100%);

}

.swipeDown {
    transform: translateY(100%);

}

.fadeOut {
    opacity: 0;
}